<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p>...</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<div class="pagination-container">
			<div class="center-outer">
				<div class="center-inner">
					<pagination total-items="jobs.count" ng-model="currentPage" ng-change="getListing(currentPage, <%= config['jobListing.home.paginationSize'] %>)" ng-init="getListing(1, <%= config['jobListing.home.paginationSize'] %>)" items-per-page="<%= config['jobListing.home.paginationSize'] %>" class="pagination-sm text-center" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" id="home-job-listing">
	
	<div class="col-sm-6 col-md-3" ng-repeat="job in jobs.listing">
		<div class="thumbnail">
			<div class="caption">
				<h3 ng-bind-template="{{ job.title }}"></h3>
				<p>
					<span class="label label-primary" ng-bind-template="{{ job.company.name }}"></span>
				</p>
				<p>
					in <b ng-bind-template="{{ job.location }}"></b>
				</p>
				<p>
					<a ui-sref="jobView({ id : job._id })" class="btn btn-default" role="button">View</a>
					<a href="#" class="btn btn-success" role="button">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						Interested
					</a>
				</p>
			</div>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<div class="pagination-container">
			<div class="center-outer">
				<div class="center-inner">
					<pagination total-items="jobs.count" ng-model="currentPage" ng-change="getListing(currentPage, <%= config['jobListing.home.paginationSize'] %>)" ng-init="getListing(1, <%= config['jobListing.home.paginationSize'] %>)" items-per-page="<%= config['jobListing.home.paginationSize'] %>" class="pagination-sm text-center" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>