<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron text-center">
			<h1>Jobs</h1>
			<br>
			<p>
				<a class="btn btn-primary btn-lg" ui-sref="home" role="button" focus-on-click="query">Find a Job</a>
				<a class="btn btn-default btn-lg" ui-sref="rootControl.job" role="button">Post a Job</a>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<div class="pagination-container">
			<div class="center-outer">
				<div class="center-inner">
					<pagination total-items="jobs.count" ng-model="currentPage" ng-change="getListing(currentPage - 1, <%= config['jobListing.home.paginationSize'] %>)" ng-init="getListing(0, <%= config['jobListing.home.paginationSize'] %>)" items-per-page="<%= config['jobListing.home.paginationSize'] %>" class="pagination-sm text-center" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" id="home-job-listing">
	
	<div class="col-sm-6 col-md-3" ng-repeat="job in jobs.listing track by job._id">
		<div class="thumbnail">
			<div class="caption">
				<h3 ng-bind-template="{{ job.title }}"></h3>
				<p>
					<a ui-sref="companyView({ id : job.companyId })">
						<span class="label label-primary" ng-bind-template="{{ job.company.name }}"></span>
					</a>
				</p>
				<p>
					in <b ng-bind-template="{{ job.location }}"></b>
				</p>
				<p>
					<a ui-sref="jobView({ id : job._id })" class="btn btn-default" role="button">View</a>
					<% if (user) { %>
					<a href="" ng-click="interested(job._id, $index)" class="btn btn-success" role="button" ng-show="!job.interested">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						I'm interested
					</a>
					&nbsp;
					<a href="" ng-click="uninterested(job._id, $index)">
					<span class="glyphicon glyphicon-star interest-star" aria-hidden="true" ng-show="job.interested"></span>
					<% } %>
					</a>
				</p>
			</div>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-sm-12 col-xs-12">
		<div class="pagination-container">
			<div class="center-outer">
				<div class="center-inner">
					<pagination total-items="jobs.count" ng-model="currentPage" ng-change="getListing(currentPage - 1, <%= config['jobListing.home.paginationSize'] %>)" items-per-page="<%= config['jobListing.home.paginationSize'] %>" class="pagination-sm text-center" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>